# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives :__

+ list of popular data science language.
+ list of popular data science libraries.
+ table of popular data science tools.
+ Samples of arithmetic expressions.

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL languages
4. C++
5. Scala
6. Java
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas 
2. NumPy
3. Matplotlib
4. Spark

|Data Science Tools|
|------------------|
|MySQL|
|Hadoop|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60
H = 60
M = 200
print("converting 200 Minutes to Hours = ", (M/H))

converting 200 Minutes to Hours =  3.3333333333333335

## Author 

Hamdy Mouheb